.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  margin-top: 20px;
}

.text-area-div {
  width: 100%;
  height: 100vh;
  margin-top: 1%;
  display: flex;
  justify-content: space-evenly;
}

 .text-area-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 90%;
}

.text-area {
  width: 70%;
  height: 90%;
}

.input-field{
  margin-right: 45%;
  margin-bottom: 3px;
}


.diff-btn {
  width: 10%;
  height: 4%;
  margin-top: 20px;;
  margin-bottom: -10px;
  background: transparent;
  border-radius: 5px;
  font-weight: bold;
}
