.App {
  margin-top: 60px;
  text-align: center;
  height: 100vh;
}

.text-area-div {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  height: 80%;
}

.text-area-wrapper {
  position: relative;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.text-area {
  height: 90%;
  width: 80%;
}

.upload-btn{
  width: 20%;
  margin-bottom: 10px;
  background: transparent;
  border-radius: 5px;
}
